<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= link_to cubes_path do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back to Cubes list
      <% end %>
      <h1>Batch result</h1>
      <ul>
        <% @results.reject(&:blank?).each do |r| %>
          <li><%= r %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>