<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h1>Cubes</h1>
      <%= link_to new_cube_path, class: 'btn btn-info' do %>
        <span class="glyphicon glyphicon-plus"></span>
        New cube
      <% end %>
      <div class="table">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Size</th>
            </tr>
          </thead>
          <tbody>
            <% @cubes.each do |c| %>
              <tr>
                <td><%= c.id %></td>
                <td><%= c.name %></td>
                <td><%= c.size %></td>
                <td>
                  <%= link_to 'Send Operations', send_batch_operations_cube_path(c) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>