<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= link_to cubes_path do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back to Cubes list
      <% end %>
      <h1>Create a Cube</h1>
      <%= simple_form_for @cube, as: :cube, url: cubes_path do |f| %>
        <%= f.input :name %>
        <%= f.input :size %>
        <%= f.button :submit, value: 'Create Cube' %>
      <% end %>
    </div>
  </div>
</div>