<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= link_to cubes_path do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back to Cubes list
      <% end %>
      <h1>Send commands</h1>
      <%= form_tag batch_operations_cube_path(@cube.id) do %>
        <div class="form-group">
          <%= text_area_tag :batch_operations, nil, rows: 15, class: 'form-control' %>
        </div>
        <%= submit_tag :send, class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>